{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "ReadAndRotateOnlyHermesTelegramRuntimeSecret",
      "Effect": "Allow",
      "Action": [
        "secretsmanager:DescribeSecret",
        "secretsmanager:GetSecretValue",
        "secretsmanager:PutSecretValue"
      ],
      "Resource": "arn:aws:secretsmanager:${AWS_REGION}:${AWS_ACCOUNT_ID}:secret:${TELEGRAM_SECRET_NAME}-*"
    }
  ]
}
